[submodule "sources"]
	path = sources
	url = git@github.com:JhonnyJason/sentinel-admin-dashboard-sources.git
[submodule "toolset"]
	path = toolset
	url = git@github.com:JhonnyJason/toolset.git
[submodule "output"]
	path = output
	url = git@github.com:JhonnyJason/sentinel-admin-dashboard-output.git
